{% extends "base.html" %}
{% load static from staticfiles %}
{% block topbar_base %}
{% endblock %}

{% block body_base %}
  <div class="container-fluid info_background" style="margin-top:0px; margin-bottom:0px;">
    <div class="row-fluid">
      <div class="span1"></div>
        <div class="span10">
	  <div class="row">
	  {% include "_messages.html" %}
	  {% block body %}
	  </div>

    <div class="row" style="margin-bottom:10px; margin-top:20px;">
      <div class="span11">
	<img style="width:610px height:10px;" src="{% static "img/homepage_banner.png" %}"/>
      </div>
    </div>

    <div class="row">
      <div class="span7" style="border:2px solid #acae9b; margin-right:10px; width:669px;">
        <img style="width:750px; height:430px;" src="{% static "img/egypt.png" %}"/>
      </div>
      <div class="span4" style="margin-left:25px;">
        <div class="row" style="border:2px solid #acae9b;">
        <img style="width:490px; height:207px;" src="{% static "img/soldier.png" %}"/>
        </div>
        <div class="row" style="border:2px solid #acae9b; margin-top:10px;">
        <img style="width:490px; height:212px;" src="{% static "img/tsunami.png" %}"/>
        </div>
      </div>
    </div>
      
    <div class="row" style="margin-top: 10px; margin-bottom: 10px";>
      <div class="span11">
        <img style="width:610px height:10px;" src="{% static "img/why_jellow.png" %}"/>
      </div>
    </div>
    
    <div class="row" style="margin-bottom:10px";>
      <div class="span5" style="border:2px solid #acae9b; margin-right:0px;">
        <img style="height:400px;" src="{% static "img/cruise1.png" %}"/>
      </div>
      <div class="span6" style="border:2px solid #acae9b; margin-left:10px; width:592px;">
        <img style="height:400px;" src="{% static "img/obama.png" %}"/>
      </div>
    </div>

    <div class="row" style="margin-top: 10px; margin-bottom: 20px";>
      <div class="span11">
        <a href=""><img style="width:610px height:10px;" src="{% static "img/sign_up2.png" %}"/></a>
      </div>
    </div>

<!--
      <div class="span3" style="border:2px solid #acae9b; background-color:#808080;">
	<div style="width:200px; height:140px;">
	  <div class="row" style="margin-left:10px; margin-top:10px; width:200px; height:50px;"><a href="#myCarousel" id="paragraph_slicing" style="visited:#808080;"><b><img style="width:200px; height:50px;" src="/site_media/media/image/paragraph_slicing.png"/></b></a></div>
         <div class="row" style="margin-left:10px;"><a href="#myCarousel" id="heat_map"><b>Heat Map</b></a></div>
         <div class="row" style="margin-left:10px;"><a href="#myCarousel" id="article_rubric"><b>Rubric Grading</b></a></div>
         <div class="row" style="margin-left:10px;"><a href="#myCarousel" id="news_filter"><b>News Filter</b></a></div>
	</div>
      </div>
      
      <div class="span9" style="border:2px solid #acae9b; background-color:#808080; margin-left:10px;">
	 <div id="myCarousel" class="carousel slide" style="width:850px; height:100px; margin-top:20px; margin-left:10px;">
            <div class="carousel-inner">
              <div class="active item">
                <p class="color_yellow">Through the use of hashtags per each article uploaded by a contributor,readers and users have the ability to search for specific keywords or topics within articles.
When users upload an article, they label each paragraph with a specific hashtag related to the topic the paragraph is addressing. Each paragraph within an article will have a handf\
ul of tags within an umbrella tag related to the overall article headline. That way users and readers can pinpoint specific topics within overall headlines giving them a “snapshot”\
 of what they were looking for.</p>
              </div>
              <div class="item">
                <p class="color_yellow">The website will contain a page displaying a map of the world. “Hot spots” on the globe will be labeled showcasing where all of the buzz or \
articles are coming from based on the tags that contributors are using within their articles. This allows viewers and readers to quickly spot where all of the latest chatter is com\
ing from and then delve deeper into the facts at hand. All of this is live and uploaded by those who are closest to the news source.</p>
              </div>
              <div class="item">
                <p class="color_yellow">Top articles that emerge first in search/tag results are chosen by peer graded reviews based on 4 factors that affect the overall content. T\
hose with the highest average peer grade are given seniority and are displayed at the top of search result pages. Points system is also integrated into the website allowing users t\
o accumulate points by contributing articles and grading other articles that have been uploaded.</p>
	      </div>
              <div class="item">
                <p class="color_yellow">Whether on the heat map or in search results, users will have the ability to filter their news either by text article, video, audio, or phot\
o. Currently, you can’t do this on any other news website or social media news aggregators such as Twitter. This is an extremely useful tool if you are looking for a video or photo\
 that captures the information you wanted to depict in a non-refutable fashion.</p>
              </div>
            </div>
           </div>
-->
      </div>
    </div>
</div>
	  {% endblock %}

    </div>
  </div>
 {% endblock %}

