{% extends "base.html" %}
{% load static from staticfiles %}
{% block topbar_base %}
{% endblock %}

{% block body_base %}
  <div class="container-fluid info_background" style="margin-top:0px; margin-bottom:0px;">
    <div class="row-fluid">
      <div class="span1"></div>
        <div class="span10">
	  <div class="row">
	  {% include "_messages.html" %}
	  {% block body %}
	  <div class="span10" style="margin-top:50px; margin-left:100px; border: 5px solid #acae9b; padding:30px;">
	    <img src="{% static "img/jellow_logo.png" %}" style="width:200px; height:50px;"/>
	    <div class="row" style= "margin-left:30px;">
	      <div>"The power of the people is stronger than the people in power."</div>
	      </br>
	      <div>Jellow is a peer-to-peer news stream that allows users and readers to discover and share the latest news and ideas on world issues that are currently occurring. All news topics are updated ‘live’, allowing readers and users to communicate and dissect the “hot” topics with one another directly by the use of hashtags, searches and rubric grading. We want to bring you the real world through real people. 
	      <p style="text-align:center;"><img src="{% static "img/info/Slide1.png" %}" style="width:500px; height:333px;"/></p>
	      <div>Join us in the digital revolution of the news media by writing an article of a current affair that pertains to you. Read through others' articles and grade them on the Jellow rubric so you can keep the community updated on the most reliable information. Please also note that we are constantly striving to make the system more effective in order to bring you the most resourceful news content; so keep us informed about any suggestions or new features  you would like to see.</div> 
	      <div class="centered">
		<p  style="text-align:center;"> <a href="{% url registration_register %}" class="btn btn-small btn-primary" style="color: #e8eb24;"><b>Sign Up</b></a>
		<a href="#" class="btn btn-small btn-primary" style="color: #e8eb24"><b>Sign In</b></a></p>
              </div>
	      </div>
	  </div>
	  {% endblock %}
	  </div>
	</div>
    </div>
  </div>
{% endblock %}
<!--      
      <div class="span9" style="border:2px solid #acae9b; background-color:#808080; margin-left:10px;">
	 <div id="myCarousel" class="carousel slide" style="width:850px; height:100px; margin-top:20px; margin-left:10px;">
            <div class="carousel-inner">
              <div class="active item">
                <p class="color_yellow">Through the use of hashtags per each article uploaded by a contributor,readers and users have the ability to search for specific keywords or topics within articles.
When users upload an article, they label each paragraph with a specific hashtag related to the topic the paragraph is addressing. Each paragraph within an article will have a handf\
ul of tags within an umbrella tag related to the overall article headline. That way users and readers can pinpoint specific topics within overall headlines giving them a “snapshot”\
 of what they were looking for.</p>
              </div>
              <div class="item">
                <p class="color_yellow">The website will contain a page displaying a map of the world. “Hot spots” on the globe will be labeled showcasing where all of the buzz or \
articles are coming from based on the tags that contributors are using within their articles. This allows viewers and readers to quickly spot where all of the latest chatter is com\
ing from and then delve deeper into the facts at hand. All of this is live and uploaded by those who are closest to the news source.</p>
              </div>
              <div class="item">
                <p class="color_yellow">Top articles that emerge first in search/tag results are chosen by peer graded reviews based on 4 factors that affect the overall content. T\
hose with the highest average peer grade are given seniority and are displayed at the top of search result pages. Points system is also integrated into the website allowing users t\
o accumulate points by contributing articles and grading other articles that have been uploaded.</p>
	      </div>
              <div class="item">
                <p class="color_yellow">Whether on the heat map or in search results, users will have the ability to filter their news either by text article, video, audio, or phot\
o. Currently, you can’t do this on any other news website or social media news aggregators such as Twitter. This is an extremely useful tool if you are looking for a video or photo\
 that captures the information you wanted to depict in a non-refutable fashion.</p>
              </div>
            </div>
           </div>
-->

